@using OnlineShop.Models
@model IEnumerable<ProductTypes>
@{
    ViewData["Title"] = "Index";
}
<br/><br/>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-info"  asp-action="Create"><i class="fas fa-plus-circle"></i> New Product Type</a>
    </div>
</div>

<br/>
<div>
    <table class="table table-striped border table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(m=>m.ProductType)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductType</td>
                <td> <partial name="_ButtonsPartial" model="item.Id"/></td>
            </tr>
        }
    </table>
</div>
@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        $().ready(function () {
            var save = "@TempData["save"]";
            console.log(save);

            if (save != "") {
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(save);
            }
        });
    </script>
}

