@model OnlineShop.Models.Tag
@{
    ViewData["Title"] = "Edit";
}

<br/>
<h2 class="text-info">Edit Tag</h2>

<form asp-action="Edit" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <input type="hidden" asp-for="Id"/>
        
        <div clas class="form-group row">
            <div class="col-md-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control"/>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit"  class="btn btn-primary" value="Update"/>
            <a class="btn btn-success" asp-action="Index">Back to List</a>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}