@model int


<div class="btn-group" style="width: 25px;" >
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-warning"><i class="fas fa-edit text-white"></i></a>
    <a asp-action="Details"  asp-route-id="@Model"class="btn btn-info"><i class="fas fa-info-circle"></i></a>
    <a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
</div>


